<h1>Project default</h1>
<h2>Unique project ID</h2>
<p>
	<%= _data.project.id %>
</p>
<h2>All connected packages</h2>
<div>
	<a href="#/registry/package/show/uniquePackageId1">Package 1</a>
	<a href="#/dashboard/project/<%= _data.project.id %>/package/add">Add new dependency</a>
</div>
<h2>Project modules</h2>
<a href="#/dashboard/project/<%= _data.project.id %>/module/edit/uniqueModuleId1">Module 1</a>
<a href="#/dashboard/project/<%= _data.project.id %>/module/edit/uniqueModuleId2">Module 2</a>
<a href="#/dashboard/project/<%= _data.project.id %>/module/edit/uniqueModuleId3">Module 3</a>
<div>
	<a href="#/dashboard/project/<%= _data.project.id %>/module/add">Add new module</a>
</div>
